
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.webgl-error {
  position: fixed;
  top: 60%;
  left: 10%;
  font-size: 4em;
  letter-spacing: 3px;
  display: none;
  color: white;
  z-index: 1000;
}

#scene-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}

.video-overlay, .image-overlay, .canvas-overlay {
  position: fixed;
  z-index: 200;
}

.video-overlay {
  background-color: black;
}

.full-screen-video {
  position: fixed;
  object-fit: fill;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: black;
  z-index: 100;
}

/** LOVE POEM CSS */

.plaintext-poem {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 200;

  color: white;
  white-space: pre;
  font-size: 24px;
  line-height: 30px;
  font-family: "Times New Roman", serif;

  text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.1);
}
